/****************************************
 Ghostly's Character Colors
 DO NOT REDISTRIBUTE
*****************************************/

  /* ON A WHIM */

#ghostly { --unicode:'\bb4'; }

#colton {
 --g1:174,92,120;
 --g2:144,48,87;
 --unicode:'\e900';
}

#hedera {
 --g1:178,108,112;
 --g2:142,72,76;
 --unicode:'\e902';
}

#juliana {
  --g1:179,115,172;
  --g2:133,93,154;
  --unicode:'\bb20';
}

#kestis {
  --g1:158,153,78;
  --g2:126,141,111;
  --unicode:'\e901';
}

#loyle {
 --g1:229,131,147;
 --g2:179,89,121;
 --unicode:'\bb8';
}

#maureen {
 --g1:169,114,141;
 --g2:146,81,108;
 --unicode:'\bb1';
}

#neevee {
  --g1:90,155,139;
  --g2:58,132,143;
  --unicode:'\bb11';
}

#shense {
  --g1:151,166,218;
  --g2:106,118,171;
  --unicode:'\bb3';
}
