/****************************************
 Ghostly's Character Colors
 DO NOT REDISTRIBUTE
*****************************************/

  /* ON A WHIM */

#ghostly { --unicode:'\bb4'; }

#adrian {
  --g1:181, 143, 193;
  --g2:106, 107, 184;
  --unicode:'\bb1'; }

#colton {
  --g1:162, 75, 107;
  --g2:117, 34, 76;
  --unicode:'\e900'; }

#juliana {
  --g1:164, 73, 117;
  --g2:169, 37, 57;
  --unicode:'\bb20'; }

#shense {
  --g1:139, 159, 131;
  --g2:146, 114, 84;
  --unicode:'\bb3'; }
