/****************************************
 Ghostly's Character Colors
 DO NOT REDISTRIBUTE
*****************************************/

  /* ON A WHIM */

#ghostly { --unicode:'\bb4'; }

#adrian {
  --g1:210,155,121;
  --g2:217,145,139;
  --unicode:'\bb1'; }

#colton {
  --g1:169,106,124;
  --g2:123,58,69;
  --unicode:'\e900'; }

#hedera {
 --g1:203,154,163;
 --g2:147,81,85;
 --unicode:'\e902'; }

#juliana {
  --g1:183,158,216;
  --g2:124,71,127;
  --unicode:'\bb20'; }

#kestis {
  --g1:132,151,121; /* ortensia 172,145,173 */
  --g2:132,101,101;
  --unicode:'\bb10';
}

#neevee {
 --g1:124,171,161;
 --g2:74,119,131;
 --unicode:'\bb11'; }

#maureen {
 --g1:202,126,165;
 --g2:213,110,125;
 --unicode:'\e901'; }

#shense {
  --g1:152,159,194;
  --g2:98,90,145;
  --unicode:'\bb3'; }
